{{- if and .Values.rbac.create (eq .Values.clusterRole.create true) -}}
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: {{ template "gatekeeper-policy-manager.clusterRoleName" . }}
  labels:
    app: {{ template "gatekeeper-policy-manager.name" . }}
    chart: {{ template "gatekeeper-policy-manager.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
rules:
  - apiGroups: ["constraints.gatekeeper.sh"]
    resources: ["*"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["templates.gatekeeper.sh"]
    resources: ["*"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["config.gatekeeper.sh"]
    resources: ["*"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: {{ template "gatekeeper-policy-manager.clusterRoleName" . }}
  labels:
    app: {{ template "gatekeeper-policy-manager.name" . }}
    chart: {{ template "gatekeeper-policy-manager.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ template "gatekeeper-policy-manager.clusterRoleName" . }}
subjects:
  - name: {{ template "gatekeeper-policy-manager.serviceAccountName" . }}
    namespace: {{ .Release.Namespace | quote }}
    kind: ServiceAccount
{{- end -}}