{% extends "base.html" %}
{% block sidebar %}
  {% for config in gatekeeper_configs %}
  <a class="item" href="#{{ config.metadata.name }}">
    {{ config.metadata.name }}
    </a>
  {% endfor %}
{% endblock %}
{% block content %}
{% if gatekeeper_configs|length == 0 %}
    <div class="ui segments">
      <div class="ui secondary header segment">
        <i class="ui info icon"></i> There are no configurations defined
      </div>
      <div class="ui blue segment">
        We didn't find any configuration CRDs defined in the cluster.
      </div>
    </div>
{% else %}
{% for config in gatekeeper_configs %}
  <div class="ui segments" id="{{ config.metadata.name }}" >
    <div class="ui blue secondary header segment">
      <div class="ui small basic horizontal labels"> <span style="margin-right: 1em;">{{ config.metadata.name }}</span> <div class="ui blue label">NAMESPACE <div class="detail">{{config.metadata.namespace}}</div></div><div class="ui grey label">CREATED ON <div class="detail">{{config.metadata.creationTimestamp}}</div></div></div>
    </div>
    <div class="ui segment">
      <div class="ui styled fluid accordion">
        <div class="title">
          <i class="dropdown icon"></i>
          YAML definition
        </div>
        <div class="content">
          <pre><code class="language-yaml line-numbers">{{ config|pprint }}</code></pre>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <h5>Spec definition for configuration</h5>
      <div class="ui horizontal very relaxed divided list content">
        {% if config.spec.match %}
        {% for match in config.spec.match %}
        <div class="top aligned item">
          <div class="header">Match</div>
          <div class="content">
            <div class="ui horizontal relaxed list">
              <div class="top aligned item">
                <div class="header">Excluded Namespaces</div>
                {% for ens in match.excludedNamespaces %}
                  <div class="content">{{ ens }}</div>
                {% endfor %}
              </div>
              <div class="top aligned item">
                <div class="header">Processes</div>
                {% for ps in match.processes %}
                  <div class="content">{{ ps }}</div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if config.spec.readiness %}
          <div class="top aligned item">
              <div class="header">Readiness</div>
              {% if item in config.spec.readiness.statsEnabled %}
              <div class="content">Stats Enabled: {{ config.spec.readiness.statsEnabled }}</div>
              {% endif %}
            </div>
        {% endif %}
        {% if config.spec.sync %}
          <div class="top aligned item">
            <div class="header">Sync</div>
            <div class="content">
              <div class="ui horizontal relaxed list">
                <div class="top aligned item">
                  {% if config.spec.sync.syncOnly %}
                    <div class="header">Sync Only</div>
                    <div class="content">
                      <div class="ui horizontal relaxed list">
                        {% for item in config.spec.sync.syncOnly  %}
                          <div class="top aligned item">
                            {% for k,v in item.items() %}
                            <div class="header">{{ k }}</div><div class="content">{{ v or 'empty (core)'}}</div> 
                            {%endfor %}
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  {%endif %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% if config.spec.validation %}
          <div class="top aligned item">
            <div class="header">Validation</div>
            <div class="content">
              {% if config.spec.validation.traces %}
                {% for item in config.spec.validation.traces  %}
                  <div class="top aligned item">
                    {% for k,v in item.items() %}
                    <div class="header">{{ k }}</div><div class="content">{{ v }}</div> 
                    {%endfor %}
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
        
  </div>
{% endfor %}


{% endif %}
{% endblock %}